---
layout: 'layouts/default.njk'
eleventyComputed:
  title: '{{ title }} - Equipment'
  category: '{{ tags[0] }}'
---

{%- import 'components/heading.njk' as heading %}
{%- import 'components/timeline.njk' as timeline %}

{%- macro list(info='') %}
  <li class="mb-1 py-1 flex">
    <strong class="text-xs text-black leading-relaxed tracking-wider font-bold uppercase flex-none">{{ caller() }}</strong>
    <b class="mt-2.5 mx-4 h-px text-black bg-current flex-1 opacity-10" aria-hidden="true"></b>
    <p class="w-full max-w-[50%]">
      {%- if info.monster %}
        {%- for item in info.monster %}
          {% set last = loop.last %}
          {%- for m in collections.monsters_pets %}
          {%- if m.data.title === item %}
          <span class="flex"><iconify-icon icon="mdi:arrow-top-right" width="1em" height="1em" inline="false" class="mt-[3px] mr-1 opacity-50 flex-none"></iconify-icon> <a href="/encyclopedias/monsters-pets/{{ m.data.type.toLowerCase() }}/#monster-{{ m.data.page.fileSlug }}"><span class="font-normal">{{ item }}</span></a></span>
          {%- endif %}
          {%- endfor %}
        {%- endfor %}
      {%- elseif info.event %}
        <span class="flex"><iconify-icon icon="mdi:arrow-top-right" width="1em" height="1em" inline="false" class="mt-[3px] mr-1 opacity-50 flex-none"></iconify-icon> <a href="/walkthrough/events/{{ info.event | replace("'", "") | slugify }}/"><span class="font-normal">{{ info.event }}</span></a></span>
      {%- elseif info.info %}
        {{ info.info }}
      {%- else %}
        {{ info }}
      {%- endif %}
    </p>
  </li>
{%- endmacro %}


{%- for item in items %}
  {%- set sub %}{{ title | replace(' - Equipment', ' '+ category) }}{%- endset %}
  <ul class="scroll-mt-4" id="{{ tags | join }}-{{ item.title | slugify }}">
  {%- call timeline.x(heading='h2',label=item.title,sub=sub,img='/_assets/img/encyclopedias/'+ tags +'/'+ page.fileSlug +'.png',index=loop) %}
    <ul class="equip-stats text-sm">
      {%- call list(info=item.base) %}Material:{%- endcall %}
      {%- call list(info=item.power) %}{%- if (tags | join) == 'weapons' %}Strength:{%- else %}Defense:{%- endif %}{%- endcall %}
      {%- call list(info=item.acquire) %}Aquire:{%- endcall %}
    </ul>
  {%- endcall %}
  </ul>
{%- endfor %}