---
layout: 'layouts/default.njk'
eleventyComputed:
  title: '{{ title }} - Equipment'
---

{%- import 'components/heading.njk' as heading %}
{%- import 'components/timeline.njk' as timeline %}

{%- macro list(info='') %}
  <li class="mb-1 py-1 flex">
    <strong class="flex-none">{{ caller() }}</strong>
    <b class="mt-2.5 mx-4 h-px text-black bg-current flex-1 opacity-10" aria-hidden="true"></b>
    <p class="w-full max-w-[50%]">
      {{ info }}
    </p>
  </li>
{%- endmacro %}


<ul class="list-none">
{%- for item in items %}
  {%- call timeline.x(label=item.title,sub=tags,img='/_assets/img/encyclopedias/'+ tags +'/'+ page.fileSlug +'.png',index=loop) %}
  <ul class="equip-stats text-sm">
    {%- call list(info=item.base) %}Material:{%- endcall %}
    {%- call list(info=item.power) %}{%- if (tags | join) == 'weapons' %}Strength:{%- else %}Defense:{%- endif %}{%- endcall %}
    {%- call list(info=item.acquire) %}Aquire:{%- endcall %}
  </ul>
  {%- endcall %}
{%- endfor %}
</ul>