---
layout: 'layouts/default.njk'
---

{%- macro eventNav(label='',sub='',url='') %}
<a href="{{ url }}" class="group block relative">
  <b class="mb-1 pb-1 border-(b black/10) text-xs font-normal uppercase block opacity-90 motion-safe:(transition) group-hover:(border-opacity-0)">{{ sub }}:</b>
  {{ label }}
  <b class="h-px bg-current absolute -bottom-1 inset-x-0 opacity-0 transform scale-0 motion-safe:(transition) group-hover:(opacity-50 scale-100)" aria-hidden="true"></b>
</a>
{%- endmacro %}

{% set previousPost = collections.events | getPreviousCollectionItem(page) %}
{% set nextPost = collections.events | getNextCollectionItem(page) %}

<h2>Instructions</h2>
{{ content | safe }}
{%- if nextPost %}
<blockquote class="mt-16 mb-5 border-(l-[10px] 1 pri-100/25) px-5 py-2 space-x-4 bg-white/10 flex items-center relative rounded shadow-lg md:(py-5)">
  <img src="/_assets/img/walkthrough/cactus.png" alt="Cactus" class="motion-safe:(animate-wiggle)">
  <p class="m-0 flex-1">
    <strong>Upon Completion:</strong>
    <small class="block">
      {%- if missable %}<b class="py-1 px-3 bg-yellow-600 text-white text-[12px] block absolute -top-3 -left-3 rounded-full"><iconify-icon icon="fa6-solid:comment-dots" inline="false" class="mr-1 opacity-50" title="Warning"></iconify-icon> This event is miss-able in the cactus diaries!</b>{%- endif %}
      Return home, talk to Lil' Cactus, go downstairs (watch him write the Event on the leaf), and go back upstairs to save your game before continuing.
    </small>
  </p>
</blockquote>
{%- endif %}

<ul class="pt-5 md:(flex justify-between)">
  <li class="py-4">
    {%- if previousPost %}
    {{ eventNav(label=previousPost.data.title,sub='Previous',url=previousPost.url) }}
    {%- endif %}
  </li>
  <li class="py-4 md:(text-end)">
    {%- if nextPost %}
    {{ eventNav(label=nextPost.data.title,sub='Next',url=nextPost.url) }}
    {%- endif %}
  </li>
</ul>