---
layout: 'layouts/default.njk'
eleventyComputed:
  category: '{{ title }}'
  title: '{{ title }} - Monster'
---

{%- import 'components/heading.njk' as heading %}

{%- macro sectionTitle() %}
<p class="mb-1 text-(sm gray-900) font-bold uppercase">{{ caller() }}</p>
{%- endmacro %}

{%- for category, items in collections.monsters_pets | groupby('data.type') %}
  {%- if category === page.fileSlug %}
  {%- for item in items %}
  <section class="beastiary mb-12 pb-8 scroll-mt-4" id="monster-{{ item.data.page.fileSlug }}">
    {%- call heading.x(tag='h2',sub=category | title,img='/_assets/img/encyclopedias/monsters-pets/'+ item.data.page.fileSlug +'.png',alt=item.data.title,border=false) %}
      {{ item.data.title }}
    {%- endcall %}
    <div class="md:(grid-(& cols-2) gap-5)">
      <div class="monster group-set mb-10 md:(mb-0)">
        <h2 class="legend">Monster</h2>
        {%- call sectionTitle() %}Locations{%- endcall %}
        <ul>
          {%- for loc in item.data.monster_locations %}
          <li class="text-sm flex"><a href="#map-{{ loc | slugify }}" class="lb hover:underline" @click.prevent="modal = !modal; $dispatch('modal', { img: 'walkthrough/maps/{{ loc | slugify }}.png', imgalt: '{{ loc }}' })"><iconify-icon icon="mdi:arrow-top-right" width="1em" height="1em" inline="false" class="mr-1 flex-none opacity-30"></iconify-icon> <span class="font-normal">{{ loc }}</span></a><div id="map-{{ loc | slugify }}" aria-hidden="true"></div></li>
          {%- endfor %}
        </ul>
        {%- call sectionTitle() %}Battle Drops{%- endcall %}
        <ol class="text-sm grid-(& flow-col rows-4) gap-1.5">
          {%- for drop in item.data.monster_drops %}
          <li class="flex items-center gap-1.5">
            <small class="w-4 h-4 text-xs flex items-center justify-center opacity-60 ring-(1 current) rounded-full" aria-hidden="true">{{ loop.index }}</small>
            {{ drop }}
          </li>
          {%- endfor %}
        </ol>
      </div>
      {%- if item.data.page.fileSlug !== 'machine-golem' %}
      <div class="pet group-set">
        <h2 class="legend">Pet</h2>
        {%- call sectionTitle() %}
        {%- if page.fileSlug === 'demi-human' %}Location{% else %}Egg Locations{%- endif %}
        {%- endcall %}
        <ul>
          {%- for loc in item.data.egg_locations %}
          <li class="text-sm flex"><a href="#map-{{ loc | slugify }}" class="lb hover:underline" @click.prevent="modal = !modal; $dispatch('modal', { img: 'walkthrough/maps/{{ loc | slugify }}.png', imgalt: '{{ loc }}' })"><iconify-icon icon="mdi:arrow-top-right" width="1em" height="1em" inline="false" class="mr-1 flex-none opacity-30"></iconify-icon> <span class="font-normal">{{ loc }}</span></a><div id="map-{{ loc | slugify }}" aria-hidden="true"></div></li>
          {%- endfor %}
        </ul>
        <ul class="grid-(& cols-2)">
          <li>{%- call sectionTitle() %}Sync{%- endcall %} <span class="text-sm">{{ item.data.syncro_effect }}</span></p>
          <li>{%- call sectionTitle() %}Sell{%- endcall %} <span class="text-sm">{{ item.data.sell_price }} <sup class="italic text-(xs black/50)" title="Lucre">$L</sup></span></p>
        </ul>
        <div>
          {%- call sectionTitle() %}Initial Stats{%- endcall %}
          <ul class="-mx-4 -mb-2 text-sm grid-(& cols-4) [&>li]:(border-(t-2 r-2 dashed black/20) relative before:(content-[''] border-(t-2 dashed white/25) pointer-events-none absolute inset-0)) [&>li:nth-child(4),&>li:nth-child(8)]:(border-r-0)">
            {%- for key, value in item.data.pet_stats %}
            {%- set statFull %}
              {%- if key === 'Pow' -%}Power
              {%- elseif key === 'Skl' -%}Skill
              {%- elseif key === 'Def' -%}Defense
              {%- elseif key === 'Mgc' -%}Magic
              {%- elseif key === 'HP' -%}Hit Points
              {%- elseif key === 'Spr' -%}Spirit
              {%- elseif key === 'Chm' -%}Charm
              {%- elseif key === 'Lck' -%}Luck
              {%- endif -%}
            {%- endset %}
            <li class="py-1.5 px-4"><strong class="text-xs uppercase block" title="{{ statFull }}">{{ key }}</strong> {{ value }}</li>
            {%- endfor %}
          </ul>
        </div>
      </div>
      {%- endif %}
    </div>
  </section>
  {%- endfor %}
  {%- endif %}
{% endfor %}
