---
layout: 'layouts/default.njk'
eleventyComputed:
  title: '{{ title }} - Monster'
---

{%- import 'components/heading.njk' as heading %}

{% renderTemplate "md" %}
{% endrenderTemplate %}


{%- for category, items in collections.monsters_pets | groupby('data.type') %}
  {%- if category === page.fileSlug %}
  {%- for item in items %}
  <section class="beastiary mb-12 pb-8" id="monster-{{ item.data.page.fileSlug }}">
    {%- call heading.x(tag='h2',sub=title.replace(' - Monster', ''),img='/_assets/img/encyclopedias/monsters-pets/'+ item.data.page.fileSlug +'.png',border=false) %}
      {{ item.data.title }}
    {%- endcall %}
    <div class="md:(grid(& cols-2) gap-6)">
      <div class="monster mb-6 md:(mb-0)">
        <h2>Monster</h2>
        <strong class="mb-1 font-bold block">Locations</strong>
        <ul>
          {%- for loc in item.data.monster_locations %}
          <li class="text-sm">{{ loc }}</li>
          {%- endfor %}
        </ul>
        <strong class="mb-1 font-bold block">Battle Drops</strong>
        <ol class="text-sm grid(& flow-col rows-4) gap-1.5">
          {%- for drop in item.data.monster_drops %}
          <li class="flex items-center gap-1.5">
            <small class="w-4 h-4 text-xs flex items-center justify-center opacity-60 ring(1 current) rounded-full" aria-hidden="true">{{ loop.index }}</small>
            {{ drop }}
          </li>
          {%- endfor %}
        </ol>
      </div>
      <div class="pet">
        <h2>Pet</h2>
        <strong class="mb-1 font-bold block">{% if page.fileSlug === 'demi-human' %}Pet Location{% else %}Egg Locations{% endif %}</strong>
        <ul>
          {%- for loc in item.data.egg_locations %}
          <li class="text-sm">{{ loc }}</li>
          {%- endfor %}
        </ul>
        <ul class="grid(& cols-2)">
          <li><strong class="mb-1 font-bold block">Sync</strong> <span class="text-sm">{{ item.data.syncro_effect }}</span></p>
          <li><strong class="mb-1 font-bold block">Sell</strong> <span class="text-sm">{{ item.data.sell_price }} <sup class="italic text(xs black opacity-50)">$L</sup></span></p>
        </ul>
        <strong class="mb-1 font-bold block">Initial Stats</strong>
        <ul class="text-sm grid(& cols-4)">
          {%- for key, value in item.data.pet_stats %}
          <li class="py-1.5 border(t black opacity-10)"><strong class="text-xs uppercase block">{{ key }}</strong> {{ value }}</li>
          {%- endfor %}
        </ul>
      </div>
    </div>
  </section>
  {%- if loop.last%}{% else %}<hr class="mb-12" />{% endif %}
  {%- endfor %}
  {%- endif %}
{% endfor %}
