---
layout: 'layouts/default.njk'
eleventyComputed:
  category: '{{ title }}'
  title: '{{ title }} - Produce'
---

{%- from 'components/heading.njk' import heading %}
{%- from 'components/btn.njk' import btn %}

{%- macro legnd(label='',desc='') %}
<li class="mb-2 pb-2 border-(b gray-600/25) text-sm leading-tight flex items-center">
  <iconify-icon icon="game-icons:swirl-string" class="iconify mr-2 text-xs opacity-25" noobserver></iconify-icon>
  <p class="w-full flex-1">
    <strong class="block">{{ label }}</strong>
    <small>{{ desc }}</small>
  </p>
</li>
{%- endmacro %}

{%- macro dd(label='',data='',arrow=false,line=true) %}
<dd class="py-1 pl-2 text-sm flex items-center gap-2{%- if data.substring(0, 1) === '-' %} text-red-900{% else %} text-pri-900{%- endif %}">
  <p class="shrink-0">{{ label }}</p>
  {%- if line %}<b class="h-px bg-gray-600/25 grow" aria-hidden="true"></b>{%- endif %}
  <i class="text-xs not-italic font-mono shrink-0 flex items-center" title="{%- if data.substring(0, 1) === '+' %}Up: {{ data }}{% elseif data.substring(0,1) === '-' %}Down: {{ data }}{%- endif %}">
    {%- if arrow %}<b class="mr-1 text-base leading-none">{%- if data.substring(0, 1) === '-' %}&minus;{% else %}&plus;{%- endif %}</b>{%- endif %}
    <span class="px-1.5 border-(t white/30) ring-(1 gray-600/25) min-w-[1.25rem] h-5 bg-white/20 text-xs font-mono shrink-0 flex items-center justify-center rounded-full shadow">{%- if arrow %}{{ data.slice(1) | safe }}{%- else %}{{ data | safe }}{%- endif %}</span>
  </i>
</dd>
{%- endmacro %}

{%- macro dt(label='') %}
<dt class="py-1 px-2 text-(xs black) leading-relaxed tracking-wider font-bold uppercase">
  {{ label }}
</dt>
{%- endmacro %}

<p class="mb-10">The following data charts represent pet statistic adjustments based on the produce you have placed in the feeding box in your pet sanctuary. The adjustments take effect immediately after your pet levels up.</p>

{%- for category, items in collections.produce | groupby('data.color') %}
  {%- if category === page.fileSlug %}
  {%- for item in items %}
  <section class="produce scroll-mt-4 md:(grid-(& cols-2) gap-8)" id="produce-{{ item.data.page.fileSlug }}">
    <div>
      {%- call heading(tag='h2',sub=category | title,img='/_assets/img/encyclopedias/produce/'+ item.data.page.fileSlug +'.png',alt=item.data.title,border=false) %}
      {{ item.data.title }}
      {%- endcall %}
    </div>
    <div>
      <dl class="prod-stats mb-6">
        {{ dt(label='Pet Feeding Results') }}
        {%- if item.data.stats %}
          {%- for key, value in item.data.stats %}
            {{ dd(label=key,data=value,arrow=true) }}
          {%- endfor %}
        {%- endif %}
        {%- if item.data.resist %}
          {%- for key, value in item.data.resist %}
            {{ dd(label=key+' resist',data=value,arrow=true) }}
          {%- endfor %}
        {%- endif %}
        {%- if item.data.personality %}
          {%- for key, value in item.data.personality %}
            {{ dd(label=key+' personality',data=value,arrow=true) }}
          {%- endfor %}
        {%- endif %}
        {%- if not item.data.stats and not item.data.resist and not item.data.personality %}
          {{ dd(label='Nothing',data='',line=false) }}
        {%- endif %}
      </dl>
      {%- if item.data.seeds %}
        <dl class="prod-seeds mb-6">
          {{ dt(label='Seed Formulas') }}
          {%- for key, value in item.data.seeds %}
            {{ dd(label=key,data=value+'<sup class="ml-px opacity-70">%</sup>') }}
          {%- endfor %}
        </dl>
      {%- endif %}
    </div>
    {%- if loop.last %}{% else %}<hr class="my-12 md:(col-span-2)" />{%- endif %}
  </section>
  {%- endfor %}
  {%- endif %}
{% endfor %}

{% setblock 'aside' %}
<section>
  {%- call heading(tag='h2',sub='Legend',img='/_assets/img/encyclopedias/en-events.png') %}
    Stats
  {%- endcall %}
  <ul class="mt-2">
    {%- for item in legend.pets.stats %}
    {{ legnd(label=item.title,desc=item.desc) }}
    {%- endfor %}
  </ul>
</section>
<section>
  {%- call heading(tag='h2',sub='Legend',img='/_assets/img/encyclopedias/en-events.png') %}
    Personality
  {%- endcall %}
  <ul class="mt-2">
    {%- for item in legend.pets.personality %}
    {{ legnd(label=item.title,desc=item.desc) }}
    {%- endfor %}
  </ul>
</section>
{% endsetblock %}
