<!doctype html>
<html lang="en" class="bg-[#0A0D0A]" hidden>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {{ if ! is_homepage }}
        {{ meta_title ?? title }} - 
        {{ if segment_2 == 'monsters-pets' }}Monsters & Pets - {{ /if }}
        {{ if segment_2 == 'produce' }}Produce - {{ /if }}
      {{ /if }}
      {{ site:name ?? 'Legend of Mana Fan Site' }}
    </title>
    <meta name="description" content="{{ site:description }}" />
    <meta name="author" content="{{ site:author }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/6d6156d427.js" crossorigin="anonymous"></script>
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" />
  </head>
  <body id="sect-" class="font-serif text-pri-900">

    <div class="page min-h-screen flex flex-col divide(y gray-500 opacity-10)" v-cloak>
      <header class="bg-sec-500 relative z-10 overflow-hidden">
        <nav class="nav relative z-20">
          <ul class="container mx-auto mb-0 px-4 uppercase flex(& col) items-center lg:(py-4 flex-row space-x-8)">
            <li class="pt-2 flex-1 lg:(pt-0 flex-none)">
              <a href="/" class="inline-block hover:(animate-waggle) focus:(animate-waggle)">
                <img src="/assets/img/logo.png" alt="Legend of Mana: Fan Site" />
              </a>
            </li>
            <li class="w-full flex lg:(w-auto flex-1 justify-end)">
              <ul class="mx-auto py-5 text-pri-700 text-xs flex items-center space-x-5 lg:(m-0 py-0 text-base space-x-8)">
                {{ nav include_home="false" }}
                  <li class="leading-tight">
                    <a href="{{ url }}" class="group text-pri-700 font-bold flex(& col) hover:(text-pri-900) focus:(text-pri-900) lg:(font-normal items-end) relative{{ is_current || is_parent ?= ' active' }}">
                      {{ title }}
                      <small class="text-xs normal-case font-normal order-first lg:(tracking-widest)">{{ subtext }}</small>
                      <b class="w-full flex absolute -bottom-1 inset-x-0 transition-all"><b class="m-auto py-px group-hover:w-full bg-pri-700 opacity-50 transition-all {{ is_current || is_parent ? 'w-full' : 'w-0' }}"></b></b>
                    </a>
                  </li>
                {{ /nav }}
              </ul>
            </li>
          </ul>
        </nav>
        <section class="mast relative z-50">
          {{ if is_homepage }}
            <div class="container mx-auto pt-4 px-0 pb-48 text-center lg:(pt-16 px-4 text-left)">
              <ul class="mx-auto mb-0 px-4 inline-grid grid(flow-row cols-2) gap-5 relative z-30 lg:(px-0 grid-cols-4)">
                {{ nav:home_mast }}
                <li{{ if first }} class="row-span-2"{{ /if }}>
                  <a href="{{ url }}" class="group block relative hover:animate-waggle focus:animate-waggle{{ if first }} lb{{ /if }}">
                    <figure>
                      <img src="/assets/img/{{ image }}" alt="{{ title }}" class="relative z-[-1] rounded shadow-md ring-1 ring-black ring-opacity-75" />
                      <figcaption class="py-px px-3 bg-pri-900 text(white [10px]) font-normal block absolute z-10 left-0 bottom-1 rounded-r md:(text-sm)">{{ title }}</figcaption>
                    </figure>
                  </a>
                </li>
                {{ /nav:home_mast }}
              </ul>            
            </div>
          {{ else }}
            <div class="container mx-auto pt-4 px-0 pb-32 lg:(pt-16 px-4)">
              <h1 class="m-0 pt-4 px-2 text-lg flex items-center justify-center sm:(text-3xl) lg:(pt-0 justify-start)">
                <img alt="{{ title | substr:0:1 }}" class="mr-1" src="/assets/img/ltr/{{ if meta_title }}{{ meta_title | substr:0:1 | lower }}{{ else }}{{ title | substr:0:1 | lower }}{{ /if }}.png" />
                <i class="sr-only">{{ if meta_title }}{{ meta_title | substr:0:1 }}{{ else }}{{ title | substr:0:1 }}{{ /if }}</i>
                <b class="relative">
                  {{ if meta_title }}{{ meta_title | substr:1 }}{{ else }}{{ title | substr:1 }}{{ /if }}
                  {{ if parent:slug == 'monsters-pets' }} Monsters & Pets{{ /if }}
                  {{ if parent:slug == 'produce' }} Produce{{ /if }}
                  {{ if story_arc }}<small class="py-px px-3 ring-1 ring-inset ring-current text-[11px] leading-normal inline-block absolute top-full left-0 rounded-full">{{ story_arc }}{{ title }}{{ /story_arc }}</small>{{ /if }}
                </b>
              </h1>
            </div>
          {{ /if }}
          <div class="scene absolute bottom-0 inset-x-0 z-10" data-modifier="100"><div class="mountains h-32 bg(repeat-x top) opacity-25" style="background-image: url('/assets/img/mountains.png')"></div></div>
          <div class="scene absolute bottom-0 inset-x-0 z-30" data-modifier="40"><div class="tree-line h-32 bg(no-repeat bottom) flex" style="background-image: url('/assets/img/tree-line-center.png');"></div></div>
          <div class="scene absolute bottom-0 inset-x-0 z-40" data-modifier="30"><div class="mist h-32" style="background-image: linear-gradient(180deg, rgba(255,255,255,0) 50%, #FFF 100%);"></div></div>
          <div class="tree hidden absolute right-4 z-20 animate-float top-0 lg:(block)"><img src="/assets/img/tree.png" alt="Mana Tree"{{ if ! is_homepage }} class="w-48"{{ /if }} /></div>
        </section>
        <div class="clouds scene h-32 bg(repeat-x bottom white) absolute top-0 inset-x-0 z-[-1] animate-slide" data-modifier="400" style="background-image: url('/assets/img/clouds.png');" aria-hidden="true"></div>
        <p id="head-day" class="group text-xs absolute left-4 bottom-4 z-50">
          <img src="/assets/img/dotw/!!!NOW!!!.png" alt="!!!NAME!!!" class="animate-wiggle group-hover:animate-none" />
          <b class="py-0.5 px-2 bg-pri-900 text-white whitespace-nowrap opacity-0 group-hover:opacity-75 absolute left-2 group-hover:left-6 top-1/2 rounded shadow-lg transform -translate-y-1/2 transition-all duration-200"><small class="block opacity-50">Today is</small><span>!!!NAME!!!</span> Day</b>
        </p>
      </header>
      <main class="py-8 pb-16 bg-pri-400 relative z-20">
        <b class="-mt-4 w-full h-8 bg(top repeat-x) absolute top-1 inset-x-0" style="background-image: url('/assets/img/grass.png')"></b>
        <div class="container mx-auto p-4">
          <section class="row md:(-mx-4 flex)">
            <article class="prose col w-full flex-1 md:(px-4)">
              {{ template_content }}
            </article>
            <aside class="col flex md:(px-4 w-4/12)">
              <div class="border(t l-0 black opacity-10) pt-8 pl-0 text-sm flex-1 space-y-10 md:(pt-0 pl-8 border(t-0 l))">
                <section>
                  {{ partial:_partials/heading
                    tag="h3" 
                    subtext="Guide" 
                    link="/walkthrough" 
                    img="/assets/img/encyclopedias/en-events.png" 
                    border="yes" 
                  }}
                    Walkthrough
                  {{ /partial:_partials/heading }}
                  <ul class="ml-0 grid grid-flow-row grid-cols-2 gap-4">
                    {{ nav from="walkthrough" }}
                      {{ partial:_partials/link_aside link="{ url }" subtext="{ subtext }" }}
                        {{ title }}
                      {{ /partial:_partials/link_aside }}
                    {{ /nav }}
                  </ul>
                </section>
                <section>
                  {{ partial:_partials/heading
                    tag="h3" 
                    subtext="Info" 
                    link="/encyclopedias" 
                    img="/assets/img/encyclopedias/en-info.png" 
                    border="yes" 
                  }}
                    Encyclopedias
                  {{ /partial:_partials/heading }}
                  <ul class="ml-0 grid grid-flow-row grid-cols-2 gap-4">
                    {{ nav from="encyclopedias" }}
                      {{ if count <= 6 }}
                      {{ partial:_partials/link_aside link="{ url }" subtext="{ subtext }" }}
                        {{ title }}
                      {{ /partial:_partials/link_aside }}
                      {{ /if }}
                    {{ /nav }}
                  </ul>
                </section>
              </div>
            </aside>
          </section>
        </div>
        <div class="h-[32px] bg(bottom repeat-x) absolute bottom-0 inset-x-0" style="background-image: url('/assets/img/border-bottom.png');"/>
      </main>
      <footer class="pt-10 pb-6 text(pri-500 xs) md:(text-sm)">
        <div class="container mx-auto px-4">
          <div class="row -mx-4 flex">
            <div class="col px-4 w-1/2 md:w-3/4">
              <div class="row md:(-mx-4 flex)">
                <div class="col md:px-4 md:w-1/3">
                  <ul class="m-0 mb-4 space-y-2">
                    <li class="font-bold uppercase">Game</li>
                    {{ partial:_partials/nav_footer link="/" }} Home {{ /partial:_partials/nav_footer }}
                    {{ partial:_partials/nav_footer link="https://www.play-asia.com/search/LOMR?tagid=145091" }} Buy Game {{ /partial:_partials/nav_footer }}
                    {{ partial:_partials/nav_footer link="https://www.play-asia.com/seiken-densetsu-the-legend-of-mana-original-soundtrack/13/70bty?tagid=145091" }} Buy OST {{ /partial:_partials/nav_footer }}
                  </ul>
                  <ul class="m-0 mb-4 space-y-2">
                    <li class="font-bold uppercase">Walkthrough</li>
                    {{ nav from="walkthrough" }}
                      {{ partial:_partials/nav_footer :link="url" }}
                        {{ meta_title ?? title }}
                      {{ /partial:_partials/nav_footer }}
                    {{ /nav }}
                  </ul>
                </div>
                <div class="col md:px-4 md:w-1/3">
                  <ul class="m-0 mb-4 space-y-2">
                    <li class="font-bold uppercase">Encyclopedias</li>
                    {{ nav from="encyclopedias" }}
                      {{ partial:_partials/nav_footer :link="url" }}
                        {{ meta_title ?? title }}
                      {{ /partial:_partials/nav_footer }}
                    {{ /nav }}
                  </ul>
                </div>
                <div class="col md:px-4 md:w-1/3">
                  <ul class="m-0 mb-4 space-y-2">
                    <li class="font-bold uppercase">Extras</li>
                    {{ partial:_partials/nav_footer link="/extras/" }} Wallpaper {{ /partial:_partials/nav_footer }}
                    {{ partial:_partials/nav_footer link="/extras/" }} Game Manual {{ /partial:_partials/nav_footer }}
                    {{ partial:_partials/nav_footer link="/extras/" }} Save File {{ /partial:_partials/nav_footer }}
                  </ul>
                  <ul class="m-0 mb-4 space-y-2"></ul>
                </div>
              </div>
            </div>
            <div class="col px-4 w-1/2 md:w-1/4 text-xs text-right">
              <p class="foot-copy mb-5">&copy;{{ now format="Y" }} all rights reserved.<br />media copyright Square Enix.</p>
              <p class="foot-credit mb-5">Lovingly crafted by <a href="http://craigerskine.com/" class="text-pri-400 hover:text-pri-100 focus:text-pri-100 inline-block hover:underline focus:underline">{{ site:author }}</a></p>
              <h4 class="foot-donate-label mb-2 text-sm text-current font-bold uppercase">Donate / Support</h4>
              <ul class="foot-donate m-0 inline-flex space-x-4">
                {{ site:donate }}
                  <li>
                    <a href="{{ link }}" class="text-pri-400 hover:text-pri-100 focus:text-pri-100 transition">
                      <i class="fab fa-fw fa-2x fa-{{ icon }}" title="Donate via {{ title }}"></i>
                    </a>
                  </li>
                {{ /site:donate }}
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <div id="mast-story" class="modal">
      <img src="/assets/img/mana-story.jpg" alt="The Many Story" />
    </div>
    <div id="map-speedrun" class="modal">
      <img src="/assets/img/walkthrough/speed-run/map.jpg" alt="Speed Run Start" />
    </div>
    <div id="map-world-start" class="modal">
      <img src="/assets/img/walkthrough/maps/world-start.jpg" alt="Walkthrough Start" />
    </div>
    {{ collection:maps sort="order" }}
      <div id="map-{{ slug }}" class="modal">
        <img src="/assets/img/walkthrough/maps/{{ slug }}.png" alt="{title}" />
      </div>
    {{ /collection:maps }}
    <div class="bg-fixed fixed inset-0 z-[-1]" style="background-image: url('/assets/img/chalk.png');"></div>

    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/config.js"></script>
  </body>
</html>
