---
layout: 'layouts/default.njk'
title: 'Abilities & ST Techs'
eleventyNavigation:
  key: 'Abilities & ST Techs'
  title: 'Abilities / ST'
  sub: '& Techs'
  img: '/_assets/img/encyclopedias/abilities-techniques.png'
  parent: Encyclopedias
  order: 3
---

{%- from 'components/heading.njk' import heading %}

{%- macro ability(label,alt=false,reqs=false) %}
<li class="mb-1 py-1 px-2 flex items-center gap-2">
  <strong class="shrink-0">
    {{ label }}
    {%- if alt %}<sup class="ml-1 font-normal italic">({{ alt }})</sup>{%- endif %}
  </strong>
  {%- if reqs %}
  <b class="h-px bg-gray-600/25 grow" aria-hidden="true"></b>
  <small class="ml-auto">
    {%- for req in reqs %}
    {{ req }}{% if loop.last %}{% else %},{% endif %}
    {%- endfor %}
  </small>
  {%- endif %}
</li>
{%- endmacro %}

<h2 class="heading mb-6">Abilities</h2>

<div class="mb-24 lg:(grid-(& cols-2) gap-x-4)">
  <div>
    <h3 class="m-0 py-1 px-2 border-(b white/30) bg-pri-500/25 text-(sm gray-900) leading-relaxed font-bold flex items-center uppercase rounded-sm shadow-inner">Ability <small class="ml-auto text-xs uppercase opacity-90">Requirement</small></h3>
    <ul class="m-0">
      {%- for item in collections.abilities %}
      {%- if loop.index <= 13 %}
      {{ ability(label=item.data.title,alt=item.data.alt,reqs=item.data.reqs) }}
      {%- endif %}
      {%- endfor %}
    </ul>
  </div>
  <div>
    <h3 class="py-1 px-2 border-(b white/30) bg-pri-500/25 text-(sm gray-900) leading-relaxed font-bold hidden uppercase rounded-sm shadow-inner lg:(flex items-center)">Ability <small class="ml-auto text-xs uppercase opacity-90">Requirement</small></h3>
    <ul>
      {%- for item in collections.abilities %}
      {%- if loop.index > 13 %}
      {{ ability(label=item.data.title,alt=item.data.alt,reqs=item.data.reqs) }}
      {%- endif %}
      {%- endfor %}
    </ul>
  </div>
</div>

<h2 class="heading mb-6">ST Techniques</h2>

<div class="space-y-5">
{%- for item in collections.techs %}
    <details id="technique-{{ item.data.page.fileSlug }}" class="[interpolate-size:allow-keywords] [&::details-content]:([block-size:0] overflow-hidden motion-safe:(transition-all [transition-behavior:allow-discrete])) [&[open]::details-content]:[block-size:auto] [&[open]_summary]:(bg-black/5 after:(rotate-[135deg]))">
      <summary class="p-1 pr-3 flex items-center select-none cursor-pointer rounded transition hover:bg-black/5 after:(ml-auto w-3 h-3 border-(t-2 r-2 current) block opacity-50 rotate-45 transition) [&::marker,&::-webkit-details-marker]:content-['']">
        {%- call heading(tag='h3',spacing=false,sub='ST Technique',img='/_assets/img/encyclopedias/weapons/'+ item.data.page.fileSlug +'.png',alt=item.data.title,border=false) %}
          {{ item.data.title }}
        {%- endcall %}
      </summary>
      <div class="details-content pt-5">
        <ul>
          <li class="hidden sm:block">
            <h4 class="mb-2 py-1 px-2 border-(b gray-600/25) text-sm uppercase grid grid-cols-[auto_auto_1fr] items-center gap-x-1">
              Technique <sup class="text-[75%]">Cost</sup> <span class="text-end">Requirement</span>
            </h4>
          </li>
          {%- for tech in item.data.techniques %}
          <li class="mb-1 py-1 px-2 grid grid-cols-[auto_auto_1fr] items-center gap-x-1 rounded{% if loop.index % 2 === 0 %} bg-pri-800/10{% endif %}">
            <strong>{{ tech.title }}</strong>
            <sup class="text-xs" title="Cost" aria-label="Cost">{{ tech.cost }}</sup>
            <small class="col-span-3 sm:(text-end col-span-1)" title="Requirements" aria-label="Requirements">
              {%- for req in tech.prerequisite %}
              {{ req }}{% if loop.last %}{% else %},{% endif %}
              {%- endfor %}
            </small>
          </li>
          {%- endfor %}
        </ul>
      </div>
    </details>
  {%- endfor %}
</div>
