---
layout: 'layouts/default.njk'
title: 'Events'
eleventyNavigation:
  key: 'Events'
  sub: 'Guide'
  img: '/_assets/img/walkthrough/events.png'
  parent: Walkthrough
  order: 2
---

{%- import 'components/alert.njk' as alert %}
{%- import 'components/list-ol.njk' as list %}

<h2>Event Order</h2>

{{ alert.x(label='Story Arcs',sub='The preceding icon designates a story arc. Some story arcs must be completed in order to trigger the final quest, which lets you finish the game.',ico='fa-solid fa-hashtag') }}

<ul class="ml-0 mb-10 text-xs grid(& flow-row cols-1) gap-y-10 gap-x-5 md:(mb-0 text-base grid-cols-2)">
  {%- for item in collections.events %}
  {{ list.x(label=item.data.title,sub=item.data.story_arc,badge=loop.index,url='/walkthrough/events/'+item.data.page.fileSlug,tag=true) }}
  {%- endfor %}
</ul>