---
layout: 'layouts/default.njk'
title: Walkthrough
eleventyNavigation:
  key: Walkthrough
  title: Game Guide
  order: 1
---

{%- import 'components/heading.njk' as heading %}

{% renderTemplate "md" %}
## Game Systems
This walkthrough contains detailed instructions (with graphical maps of every land) on how to complete every single event in a single play-through as well as a re-imagined **'Round the Tree Again** map configuration from the [Map/Artifact Placement Guide](https://gamefaqs.gamespot.com/ps/256525-legend-of-mana/faqs/10037) at GameFaqs.
{% endrenderTemplate %}

<ul class="mt-16 gap-x-4 md:(grid-(& cols-2))">
  {%- for item in collections.all | eleventyNavigation('Walkthrough') %}
  <li class="pb-8">
    {%- call heading.x(tag='h2',sub=item.sub,url=item.url,img=item.img) %}
    {{ item.title }}
    {%- endcall %}
  </li>
  {%- endfor %}
</ul>