---
layout: 'layouts/default.njk'
title: 'Maps & Artifacts'
eleventyNavigation:
  key: 'Maps & Artifacts'
  title: 'Maps'
  sub: '& Artifacts'
  img: '/_assets/img/walkthrough/maps.png'
  parent: Walkthrough
  order: 3
---

{%- import 'components/list-ol.njk' as list %}

{% renderTemplate "md" %}
## Play Area

[![Play Area](/_assets/img/walkthrough/speed-run/map-th.jpg){.img-th}__Zoom +__{.img-note}](#map-world-start){.lb} {.float-right .ml-4 .mb-5}

There's a ton of configurations that you can use to complete The Legend of Mana and get all of the goodies along the way. For this [Walkthrough](/walkthrough/events/) I have chosen the **'Round the Tree Again** map configuration from the "Map/Artifact Placement Guide, version 2.5" found at [GameFaqs](http://gamefaqs.com/ps/256525-legend-of-mana/faqs/10037).

To place your AF's (Artifacts) efficiently you will need to pick a very specific location on the play area.

## Artifact Order

If you are following the included [Walkthrough](/walkthrough/events/), you should place your lands in the order listed below. This Land Placement Guide allows you to obtain the following (if you follow the event order exactly as [listed](/walkthrough/events/)):

* Access to all Events
* Access to all Mineral [Shops](/encyclopedias/shops/)
* Access to all [Demi-Human](/encyclopedias/monsters-pets/demi-human/) Pets
* Highest level Weapon Shops
* Full Mana Levels in Orchard
* [Wimpy Thugling](/walkthrough/events/the-wimpy-thugling/) Event
{% endrenderTemplate %}

<hr />

<div class="md:flex md:space-x-6">
  <div class="mb-8 w-full flex-1">
    <ul class="ml-0 grid(& flow-row cols-2) gap-y-6 gap-x-4">
      {%- for item in collections.maps %}
      {%- if loop.index <= 26 %}
      {{ list.x(title=item.data.title,sub=item.data.artifact,badge=loop.index,url='#map-'+item.data.page.fileSlug,lb=true) }}
      {%- endif %}
      {%- endfor %}
    </ul>
  </div>
  <div class="flex-none">
    <ul class="mx-auto mb-5 w-48 h-48 bg-cover text(black opacity-75) font-bold inline-flex flex-wrap relative">
      <li class="w-8 h-8 flex items-center justify-center"></li>
      <li class="w-8 h-8 flex items-center justify-center"></li>
      <li class="w-8 h-8 flex items-center justify-center"></li>
      <li class="w-8 h-8 flex items-center justify-center"></li>
      <li class="w-8 h-8 flex items-center justify-center"></li>
      <li class="w-8 h-8 flex items-center justify-center"></li>
      <li class="w-8 h-8 flex items-center justify-center">25</li>
      <li class="w-8 h-8 flex items-center justify-center">24</li>
      <li class="w-8 h-8 flex items-center justify-center">16</li>
      <li class="w-8 h-8 flex items-center justify-center">15</li>
      <li class="w-8 h-8 flex items-center justify-center">14</li>
      <li class="w-8 h-8 flex items-center justify-center"></li>
      <li class="w-8 h-8 flex items-center justify-center">22</li>
      <li class="w-8 h-8 flex items-center justify-center">20</li>
      <li class="w-8 h-8 flex items-center justify-center">17</li>
      <li class="w-8 h-8 flex items-center justify-center">23</li>
      <li class="w-8 h-8 flex items-center justify-center">12</li>
      <li class="w-8 h-8 flex items-center justify-center">18</li>
      <li class="w-8 h-8 flex items-center justify-center">10</li>
      <li class="w-8 h-8 flex items-center justify-center">13</li>
      <li class="w-8 h-8 flex items-center justify-center">19</li>
      <li class="w-8 h-8 flex items-center justify-center">11</li>
      <li class="w-8 h-8 flex items-center justify-center">8</li>
      <li class="w-8 h-8 flex items-center justify-center"></li>
      <li class="w-8 h-8 flex items-center justify-center">9</li>
      <li class="w-8 h-8 flex items-center justify-center">26</li>
      <li class="w-8 h-8 flex items-center justify-center">2</li>
      <li class="w-8 h-8 flex items-center justify-center">21</li>
      <li class="w-8 h-8 flex items-center justify-center">7</li>
      <li class="w-8 h-8 flex items-center justify-center"></li>
      <li class="w-8 h-8 flex items-center justify-center">4</li>
      <li class="w-8 h-8 flex items-center justify-center">3</li>
      <li class="w-8 h-8 flex items-center justify-center">1</li>
      <li class="w-8 h-8 flex items-center justify-center">5</li>
      <li class="w-8 h-8 flex items-center justify-center">6</li>
      <li class="w-8 h-8 flex items-center justify-center"></li>
      <li class="absolute inset-0 z-[-1]">
        <img src="/_assets/img/walkthrough/maps/world-zoom.jpg" alt="map" class="w-full h-full" />
      </li>
    </ul>
    <ul class="ml-0">
      {{ list.x(title='The Flames',sub='Underworld',badge='14*',url='#map-the-flames',lb=true) }}
    </ul>
  </div>
</div>