<h2>Instructions</h2>
{{ content }}
{{ if order !== 68 }}
  <blockquote class="mt-16 mb-5 px-5 py-2 space-x-4 bg(white opacity-10) flex items-center relative rounded shadow-lg md:(py-5)">
    <img src="/assets/img/walkthrough/cactus.png" alt="Cactus" class="animate-wiggle">
    <p class="m-0 flex-1">
      <strong>Upon Completion:</strong>
      <small class="block">
        {{ if missable }}
          <b class="py-1 px-3 bg-yellow-600 text-white text-[12px] block absolute -top-3 -left-3 rounded-full"><i class="fal fa-fw fa-comment-alt-exclamation mr-1 opacity-50" title="Warning"></i> This event is miss-able in the cactus diaries!</b>
        {{ /if }}
        Return home, talk to Lil' Cactus, go downstairs (watch him write the Event on the leaf), and go back upstairs to save your game before continuing.
      </small>
    </p>
  </blockquote>
  <p class="pt-5">
    {{ collection:events order:is="{ order | add:1 }" }}
    <a href="{{ url }}" class="block font-bold capitalize text-right transition hover:text-black focus:text-black">
      <b class="text-xs font-normal uppercase block opacity-90">Next:</b>
      {{ title }}
    </a>
    {{ /collection:events }}
  </p>
{{ else }}
  <p class="pt-5 text-xl italic">~~ The End</p>
{{ /if }}