---
layout: 'layouts/default.njk'
title: 'Produce'
eleventyNavigation:
  key: 'Produce'
  sub: '& Stats'
  img: '/_assets/img/encyclopedias/produce.png'
  parent: Encyclopedias
  order: 2
---

{%- from 'components/heading.njk' import heading %}

{%- set colors = collections.color -%}

<ul class="ml-0 md:(grid-(& cols-2) gap-x-4)">
  {% for color in colors %}
  <li class="pb-8">
    {%- call heading(tag='h2',sub=color.data.seed +' seed',url='/encyclopedias/produce/'+ color.data.page.fileSlug +'/',img=color.data.img) %}
      {{ color.data.title | replace(' - Produce', '') }}
    {%- endcall %}
    <ul class="m-0 -mt-2 ml-14 pb-4 pl-1">
      {%- for category, items in collections.produce | groupby('data.color') %}
        {%- if category === color.data.page.fileSlug %}
        {%- for item in items %}
        <li>
          <a href="/encyclopedias/produce/{{ item.data.color.toLowerCase() }}/#produce-{{ item.data.page.fileSlug }}" class="font-normal inline-flex items-center hover:(underline)">
            <img src="/_assets/img/li.png" alt="Swirl" class="mr-2" aria-hidden="true" />
            {{ item.data.title }}
          </a>
        </li>
        {%- endfor %}
        {%- endif %}
      {% endfor %}
    </ul>
    {% endfor %}
  </li>
</ul>
