{%- macro x(label,sub='',url='') %}
<p class="mb-16 bg(pri-600 opacity-25) flex overflow-hidden rounded">
  <b class="p-5 bg(pri-600 opacity-50) flex items-center">
    <i class="fal fa-fw fa-comment-alt-exclamation fa-flip-horizontal fa-2x text-pri-200 motion-safe:(animate-pulse)"></i>
  </b>
  <span class="p-5 flex-1 self-center">
    {%- if url !== '' %}<a href="{{ url }}">{%- endif %}
      <strong>{{ label }}</strong>
    {%- if url !== '' %}</a>{%- endif %}
    <small class="block">{{ sub }}</small>
  </span>
</p>
{%- endmacro %}