{%- macro x(sub='',url='') %}
<a href="{{ url }}" class="btn px-3 py-2 border(t transparent) w-full bg(pri-500 opacity-25) font-normal inline-flex items-center uppercase relative rounded ring(1 pri-500 opacity-90) motion-safe:(transition) hover:(border(white opacity-30) bg(white opacity-10) ring-opacity-0 shadow-lg)">
  <b class="px-3 bg-pri-900 text(white xs) absolute -top-2 -left-1 rounded-full">{{ sub }}</b>
  {{ caller() }}
</a>
{%- endmacro %}