{%- macro x(tag='div',sub='',url='',img='',alt='',border=true) %}
  {%- set alt -%}
    {%- if alt === '' -%}
      {{ sub }}
    {%- else -%}
      {{ alt }}
    {%- endif -%}
  {%- endset -%}
  <{{ tag }} class="mb-5 pb-5 text-black text-opacity-90 font-(heading bold)
    {%- if tag == 'h1' %}
      md:text-3xl
    {%- elseif tag == 'h2' %}
      md:text-2xl
    {%- elseif tag == 'h3' %}
      md:text-xl
    {%- elseif tag == 'h4' %}
      md:text-lg
    {%- elseif tag == 'h5' %}
      text-base
    {%- elseif tag == 'h6' %}
      text-sm
    {%- else %}
      md:text-xl
    {%- endif %}
    {%- if border %} border-(b black/10){%- endif %}
  ">
    {%- if url !== '' %}<a href="{{ url }}" class="group text-black/90 motion-safe:(transition) hover:(text-opacity-50)">{%- endif %}
      <span class="align-middle inline-flex items-center tracking-tight">
        {%- if img !== '' %}
        <b class="mr-3 w-50 h-50 bg-pri-900/30 flex overflow-hidden rounded shadow-inner group-hover:(motion-safe:animate-wiggle)">
          <img src="{{ img }}" alt="{{ alt }} sprite icon" class="m-auto">
        </b>
        {%- endif %}
        <span class="inline-flex flex-col">
          {{ caller() }}
          {% if sub !== '' %}<small class="opacity-80 text-(xs wrap-balance) tracking-normal">{{ sub }}</small>{% endif %}
        </span>
      </span>
    {%- if url !== '' %}</a>{%- endif %}
  </{{ tag }}>
{%- endmacro %}
