{%- macro x(title='',sub='',badge='',url='',lb=false) %}
<li>
  <a href="{{ url }}" class="inline-flex items-center group{% if lb %} lb{% endif %}">
    <b class="mr-3 w-8 h-8 text-lg bg-pri-200 bg-opacity-25 font-normal inline-flex items-center justify-center uppercase ring(1 pri-900 opacity-50) rounded-full group-hover:(bg-opacity-50 ring-opacity-100 shadow-lg) motion-safe:(transition duration-200)">{{ badge }}</b>
    <div>
      <strong>{{ title }}</strong>
      <small class="font-normal block opacity-90">
        {%- if sub %}
        {{ sub }}
        {%- else %}
        <i class="inline-block opacity-25" aria-hidden="true">~~~</i>
        {%- endif %}
      </small>
    </div>
  </a>
</li>
{%- endmacro %}