{%- macro x(label='',sub='',img=false,index='') %}
<li class="pt-0 pb-12 flex(& col) relative
  md:(flex-row)
">
  <figure class="md:(flex(& none col))">
    {%- if img %}
    <img src="{{ img }}?v={% version %}" alt="{{ label }}" class="rounded md:(flex-none)" />
    {%- else %}
    <b class="w-[48px] h-[48px] text(xl pri-300) bg-pri-900 flex(& none) items-center justify-center rounded-full">{{ index.index }}</b>
    {%- endif %}
    <figcaption class="w-[48px] flex(& 1) justify-center md:(w-full)">
      <span class="sr-only">{{ label }}</span>
      {%- if index.last %}{% else %}<b class="w-px h-8 bg-gradient-to-b from-black via-black opacity-10 md:(h-full)" aria-hidden="true"></b>{%- endif %}
    </figcaption>
  </figure>
  <div class="md:(w-52 order-first)">
    <h3 class="py-4 text(lg gray-900) leading-6 font-bold md:(py-0 pr-6 truncate)" title="{{ label }}">{{ label }}</h3>
    <b class="md:(w-full h-px bg(black opacity-10) block)" aria-hidden="true"></b>
    {%- if sub !== '' %}<small class="text-xs block md:(pt-px pr-6 uppercase opacity-70)">{{ sub }}</small>{%- endif %}
  </div>
  <div class="md:(pb-16 pl-6 w-full flex-1)">{{ caller() }}</div>
</li>
{%- endmacro %}