---
layout: 'layouts/default.njk'
title: 'Characters'
eleventyNavigation:
  key: 'Characters'
  sub: '& Info'
  img: '/_assets/img/encyclopedias/npcs.png'
  parent: Encyclopedias
  order: 5
---

{%- from 'components/timeline.njk' import timeline %}

<ul class="list-none">
  {%- for item in collections.characters %}
  {%- call timeline(heading='h2',label=item.data.title,sub='NPC',img=item.data.img,index=loop) %}
  {{ item.templateContent | safe }}
  {%- endcall %}
  {%- endfor %}
</ul>
