---
layout: 'layouts/default.njk'
title: 'Abilities & ST Techs'
eleventyNavigation:
  key: 'Abilities & ST Techs'
  title: 'Abilities / ST'
  sub: '& Techs'
  img: '/_assets/img/encyclopedias/abilities-techniques.png'
  parent: Encyclopedias
  order: 3
---

{%- import 'components/heading.njk' as heading %}

{%- macro ability(label='',alt=false,reqs=false) %}
<li class="mb-1 py-1 px-2 flex items-center">
  <strong class="flex-none">{{ label }}</strong>
  {%- if alt %}
  <sup class="ml-1 flex-none">({{ alt }})</sup>
  {%- endif %}
  {%- if reqs %}
  <b class="ml-4 h-px text-black bg-current flex-1 opacity-10" aria-hidden="true"></b>
  <small class="ml-auto pl-4">
    {%- for req in reqs %}
    {{ req }}{% if loop.last %}{% else %},{% endif %}
    {%- endfor %}
  </small>
  {%- endif %}
</li>
{%- endmacro %}

<h2>Abilities</h2>

<div class="mb-24 lg:(grid(& cols-2) gap-x-4)">
  <div>
    <h3 class="mb-2 px-2 bg(pri-500 opacity-30) text-base font-bold flex items-center rounded shadow-inner">Ability <small class="ml-auto text-xs uppercase opacity-90">Requirement</small></h3>
    <ul class="m-0">
      {%- for item in collections.abilities %}
      {%- if loop.index <= 13 %}
      {{ ability(label=item.data.title,alt=item.data.alt,reqs=item.data.reqs) }}
      {%- endif %}
      {%- endfor %}
    </ul>
  </div>
  <div>
    <h3 class="mb-2 px-2 bg(pri-500 opacity-30) text-base font-bold hidden items-center rounded shadow-inner lg:(flex)">Ability <small class="ml-auto text-xs uppercase opacity-90">Requirement</small></h3>
    <ul class="m-0">
      {%- for item in collections.abilities %}
      {%- if loop.index > 13 %}
      {{ ability(label=item.data.title,alt=item.data.alt,reqs=item.data.reqs) }}
      {%- endif %}
      {%- endfor %}
    </ul>
  </div>
</div>

<h2>ST Techniques</h2>

<ul class="m-0">
  {%- for item in collections.techs %}
  <li id="technique-{{ item.data.page.fileSlug }}">
    <div class="mb-12 lg:(flex)">
      <div class="lg:(w-1/3)">
        {%- call heading.x(tag='h3',sub='ST Technique',img='/_assets/img/encyclopedias/en-armory.png',border=false) %}
          {{ item.data.title }}
        {%- endcall %}
      </div>
      <ul class="m-0 flex-1 lg:(ml-2)">
        <li>
          <h6 class="mb-2 px-2 border(b black opacity-10) font-bold hidden items-center lg:(flex)">
            ST <small class="ml-auto text-xs uppercase opacity-90">Requirement</small>
          </h6>
        </li>
        {%- for tech in item.data.techniques %}
        <li class="mb-1 py-1 px-2 flex(& col) sm:(flex-row items-center justify-start) rounded{% if loop.index % 2 === 0 %} bg(pri-800 opacity-10){% endif %}">
          <strong>{{ tech.cost }} {{ tech.title }}</strong>
          <small class="sm:(ml-auto text-right)">
            {%- for req in tech.prerequisite %}
            {{ req }}{% if loop.last %}{% else %},{% endif %}
            {%- endfor %}
          </small>
        </li>
        {%- endfor %}
      </ul>
    </div>
  </li>
  {%- endfor %}
</ul>