---
layout: 'layouts/default.njk'
title: 'Tempering Recipes'
eleventyNavigation:
  key: 'Tempering Recipes'
  title: 'Tempering'
  sub: '& Recipes'
  img: '/_assets/img/encyclopedias/recipes.png'
  parent: Encyclopedias
  order: 7
---

{%- import 'components/heading.njk' as heading %}
{%- import 'components/alert.njk' as alert %}

{{ alert.x('Mana Forge',sub='The best place to build and test your own recipes.',url='https://forge.grendel.fr/') }}

{%- for item in collections.recipes %}
<section class="pb-12 lg:(grid(& flow-row cols-2) gap-x-4)">
  <div>
    {%- call heading.x(tag='h2',sub=item.data.sub,img='/_assets/img/encyclopedias/en-armory.png',border=false) %}
      {{ item.data.title }}
    {%- endcall %}
  </div>
  <div class="prose">
    <h3>Info</h3>
    {{ item.templateContent | safe }}
    {%- if item.data.info %}
    <table>
      <tbody>
        {%- for key, value in item.data.info %}
        <tr>
          <th>{{ key }}</th>
          <td class="text-sm">{{ value }}</td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    {%- endif %}
    <h3>Ingredient <small class="ml-2 text-xs opacity-90">Order</small></h3>
    <ul>
      {%- for ing in item.data.ingredient %}
      <li class="mb-1 py-1 px-2 rounded{% if loop.index % 2 === 0 %} bg(pri-800 opacity-10){% endif %}">{{ ing }}</li>
      {%- endfor %}
    </ul>
  </div>
</section>
{%- if loop.last %}{% else %}<hr class="mb-16 invisible" />{%- endif %}
{%- endfor %}