---
layout: 'layouts/default.njk'
title: 'Shops / Stores'
eleventyNavigation:
  key: 'Shops / Stores'
  sub: '& Prices'
  img: '/_assets/img/encyclopedias/shops.png'
  parent: Encyclopedias
  order: 5
---

{%- import 'components/heading.njk' as heading %}
{%- import 'components/alert.njk' as alert %}

{% renderTemplate "md" %}
## Shop Item Types
Looking for a specific item for a Recipe? Can't seem to find that Topple Cotton? Check out the following tables to see which items are located at what Level Shop. There is also a list of the seeds and jewels available at the Bone Fortress and Bejeweled City.
{% endrenderTemplate %}

<ul class="m-0 mb-12 grid(& cols-2) gap-4 md:(grid-cols-4)">
  {%- for item in collections.shops %}
  <li>
    <p class="mb-1 py-px font-bold">{{ item.data.title }}</p>
    <ul class="m-0 text-sm space-y-1">
      {%- for sub in item.data.shop_types %}
      <li>
        <i class="fa-light fa-level-up fa-fw fa-rotate-90 mr-2 opacity-50"></i>
        {{ sub }}
      </li>
      {%- endfor %}
    </ul>
  </li>
  {%- endfor %}
</ul>

<hr class="mb-12 invisible" />
<h2>Shop Levels</h2>

{{ alert.x('Before you start freaking out...',sub='The following information is ONLY valid if you follow the map placement and event order from the walkthrough on this site!') }}

<ul class="m-0">
  {%- for item in collections.shops_lvl %}
  <li id="shop-{{ item.data.page.fileSlug }}">
    <div class="mb-12 lg:(flex)">
      <div class="lg:(w-1/3)">
        {%- call heading.x(tag='h2',sub=item.data.location,border=false) %}
          {{ item.data.title }}
        {%- endcall %}
      </div>
      <ul class="m-0 flex-1 lg:(ml-2)">
        <li>
          <h6 class="mb-2 px-2 border(b black opacity-10) font-bold hidden items-center lg:(flex)">
            Material <small class="ml-auto text-xs uppercase opacity-90">Price</small>
          </h6>
        </li>
        {%- for mat in item.data.materials %}
        <li class="mb-1 py-1 px-2 flex items-center rounded{% if loop.index % 2 === 0 %} bg(pri-800 opacity-10){% endif %}">
          <strong>{{ mat.material }}</strong>
          <span class="ml-auto text-right">{{ mat.cost }} <sup class="italic text(xs black opacity-50)" title="lucre">$L</sup></span>
        </li>
        {%- endfor %}
      </ul>
    </div>
  </li>
  {%- endfor %}
</ul>