---
layout: 'layouts/default.njk'
title: '404'
---

<div class="flex lg:(py-16)">
  <div class="m-auto text-8xl text-center font-bold relative motion-safe:(animate-wiggle)">
    404
    <small class="pt-1 text-xl font-normal block opacity-75">
      Sassy Chumpy
    </small>
    <b class="pb-1 w-full max-w-xs bg-current block absolute left-0 -bottom-2 opacity-30"></b>
  </div>
</div>