---
layout: 'layouts/default.njk'
---

{%- import 'components/heading.njk' as heading %}
{%- import 'components/btn.njk' as btn %}

{%- call heading.x(tag='h1',sub=site.meta.lead,img='/_assets/img/encyclopedias/en-info.png') %}
{{ site.meta.title }}
{%- endcall %}

<div class="not-prose md:(grid-(& cols-2) gap-6)">

  <div class="game-info col-span-2">
    <a href="https://www.play-asia.com/search/legend+of+mana+remastered?tagid=145091" class="mb-8 w-full h-48 bg-(cover center) block rounded hover:(motion-safe:animate-waggle)" style="background-image: url('/_assets/img/lom-hd.jpg');"><b class="sr-only">Buy HD Remaster</b></a>
    <ul class="ml-0 grid-(& cols-3) gap-6">
      <li>
        {%- call btn.x(url="https://www.play-asia.com/legend-of-mana-remastered-english/13/70ecbf?tagid=145091",sub="Buy On") %}
        <iconify-icon icon="mdi:nintendo-switch" inline="false" class="mx-auto text-5xl" title="Nintendo" noobserver></iconify-icon>
        {%- endcall %}
      </li>
      <li>
        {%- call btn.x(url="https://www.play-asia.com/legend-of-mana-remastered-english/13/70ecb9?tagid=145091",sub="Buy On") %}
          <iconify-icon icon="mdi:sony-playstation" inline="false" class="mx-auto text-5xl" title="PlayStation" noobserver></iconify-icon>
        {%- endcall %}
      </li>
      <li>
        {%- call btn.x(url="https://store.steampowered.com/app/1175830/Legend_of_Mana/",sub="Buy On") %}
        <iconify-icon icon="mdi:steam" inline="false" class="mx-auto text-5xl" title="Steam" noobserver></iconify-icon>
        {%- endcall %}
      </li>
    </ul>
  </div>
  <div class="pt-5 col-span-2">
    <h2 class="heading">Original Version</h2>
  </div>
  <div class="game-info pb-8 md:(p-0)">
    <div>
      <img src="/_assets/img/game.png" alt="Legend of Mana game art" class="mx-auto" />
      <div class="pt-2 pb-5 text-sm">Legend of Mana is an RPG developed and published by Square in 1999 for the Sony Playstation (also on PSN).</div>
    </div>
    <p>
      {%- call btn.x(url="https://amazon.com/dp/B00004SWM0?tag=qrayg-20",sub="Buy") %}
        <iconify-icon icon="mdi:disc" class="mr-2 text-2xl" noobserver></iconify-icon> Original Game
      {%- endcall %}
    </p>
  </div>
  <div class="game-info pb-8 md:(p-0)">
    <div>
      <img src="/_assets/img/ost.png" alt="Legend of Mana OST art" class="mx-auto" />
      <div class="pt-2 pb-5 text-sm">Legend of Mana OST was composed by Yoko Shimomura and contains some extremely beautify compositions.</div>
    </div>
    <p>
      {%- call btn.x(url="https://www.play-asia.com/seiken-densetsu-the-legend-of-mana-original-soundtrack/13/70bty?tagid=145091",sub="Buy") %}
        <iconify-icon icon="mdi:music" class="mr-2 text-2xl" noobserver></iconify-icon> Original OST
      {%- endcall %}
    </p>
  </div>

</div>
