---
layout: 'layouts/default.njk'
eleventyComputed:
  category: '{{ title }}'
  title: '{{ title }} - Monster'
---

{%- from 'components/heading.njk' import heading %}

{%- set classGroup = 'py-2 px-4 bg-white/20 flex-(& col) gap-5 outline-(& 2 dashed pri-900/20) rounded-lg shadow-lg' -%}

{%- macro sectionTitle() -%}
<p class="mb-1 text-(sm gray-900) font-bold uppercase">{{ caller() }}</p>
{%- endmacro -%}

{%- macro dataItem(param) -%}
<li class="flex items-center gap-x-px">
  <span class="{{ param.classes }} grow flex items-center gap-2 after:(h-px bg-gray-600/25 grow)" title="{{ param.attrTitle if param.attrTitle else '' }}">{{ caller() }}</span>
  <span class="border-(t white/30) ring-(1 gray-600/25) w-5 h-5 bg-white/20 text-xs font-mono shrink-0 flex items-center justify-center rounded-full shadow">{{ param.no }}</span>
</li>
{%- endmacro -%}

{%- for category, items in collections.monsters_pets | groupby('data.type') %}
  {%- if category === page.fileSlug %}
  {%- for item in items %}
  <section class="beastiary mb-12 pb-8 scroll-mt-4" id="monster-{{ item.data.page.fileSlug }}">
    {%- call heading(tag='h2',sub=category | title,img='/_assets/img/encyclopedias/monsters-pets/'+ item.data.page.fileSlug +'.png',alt=item.data.title,border=false) %}
      {{ item.data.title }}
    {%- endcall %}
    <div class="md:(grid-(& cols-2) gap-5)">
      <div class="monster {{ classGroup }} mb-10 md:(mb-0)">
        <h2 class="legend shrink-0">Monster</h2>
        <div class="w-full grow">
          {%- call sectionTitle() %}Locations{%- endcall %}
          <ul>
            {%- for loc in item.data.monster_locations %}
            <li class="text-sm flex"><a href="#map-{{ loc | slugify }}" class="lb hover:underline" @click.prevent="$refs.dialog.showModal(); $dispatch('modal', { img: 'walkthrough/maps/{{ loc | slugify }}.png', imgalt: '{{ loc }}' })"><iconify-icon icon="mdi:arrow-top-right" width="1em" height="1em" inline="false" class="mr-1 flex-none opacity-30" noobserver></iconify-icon> <span class="font-normal">{{ loc }}</span></a><div id="map-{{ loc | slugify }}" aria-hidden="true"></div></li>
            {%- endfor %}
          </ul>
        </div>
        <div class="w-full grow">
          {%- call sectionTitle() %}Battle Rewards <small class="text-xs font-normal normal-case leading-none block opacity-60">Drops/Loot/Crystals/Sacks</small>{%- endcall %}
          <ol class="pt-2 text-sm grid-(& flow-col rows-4) gap-y-2 gap-x-4 relative">
            {%- for drop in item.data.monster_drops %}
              {%- call dataItem({
                no: loop.index,
                attrTitle: statFull
              }) %}
                {{ drop }}
              {%- endcall %}
            {%- endfor %}
          </ol>
        </div>
        <p class="-mx-4 -mb-2 py-2 px-4 border-(t-2 dashed pri-900/20) bg-pri-900/10 text-(pri-800 xs) leading-none italic shrink-0"><b class="mx-px inline-block not-italic font-mono">1</b> is the most &amp; <b class="mx-px inline-block not-italic font-mono">8</b> is least common</p>
      </div>
      {%- if item.data.page.fileSlug !== 'machine-golem' %}
      <div class="pet {{ classGroup }}">
        <h2 class="legend shrink-0">Pet</h2>
        <div class="w-full grow">
          {%- call sectionTitle() %}
          {%- if page.fileSlug === 'demi-human' %}Location{% else %}Egg Locations{%- endif %}
          {%- endcall %}
          <ul>
            {%- for loc in item.data.egg_locations %}
            <li class="text-sm flex"><a href="#map-{{ loc | slugify }}" class="lb hover:underline" @click.prevent="$refs.dialog.showModal(); $dispatch('modal', { img: 'walkthrough/maps/{{ loc | slugify }}.png', imgalt: '{{ loc }}' })"><iconify-icon icon="mdi:arrow-top-right" width="1em" height="1em" inline="false" class="mr-1 flex-none opacity-30" noobserver></iconify-icon> <span class="font-normal">{{ loc }}</span></a><div id="map-{{ loc | slugify }}" aria-hidden="true"></div></li>
            {%- endfor %}
          </ul>
        </div>
        <ul class="w-full grid-(& cols-2) grow gap-4">
          <li>{%- call sectionTitle() %}Sync{%- endcall %} <span class="text-sm">{{ item.data.syncro_effect }}</span></p>
          <li>{%- call sectionTitle() %}Sell{%- endcall %} <span class="text-sm">{{ item.data.sell_price }} <sup class="italic text-(xs black/50)" title="Lucre">$L</sup></span></p>
        </ul>
        <div class="w-full shrink-0">
          {%- call sectionTitle() %}Base Stats{%- endcall %}
          <ul class="py-2 text-xs grid-(& cols-2) gap-y-2 gap-x-4 relative">
            {%- for key, value in item.data.pet_stats %}
              {%- set statFull %}
                {%- if key === 'Pow' -%}Power
                {%- elseif key === 'Skl' -%}Skill
                {%- elseif key === 'Def' -%}Defense
                {%- elseif key === 'Mgc' -%}Magic
                {%- elseif key === 'HP' -%}Hit Points
                {%- elseif key === 'Spr' -%}Spirit
                {%- elseif key === 'Chm' -%}Charm
                {%- elseif key === 'Lck' -%}Luck
                {%- endif -%}
              {%- endset %}
              {%- call dataItem({
                no: value,
                classes: 'uppercase',
                attrTitle: statFull
              }) %}
                {{ key }}
              {%- endcall %}
            {%- endfor %}
          </ul>
        </div>
      </div>
      {%- endif %}
    </div>
  </section>
  {%- endfor %}
  {%- endif %}
{% endfor %}
