---
layout: 'layouts/default.njk'
title: Extras
eleventyNavigation:
  key: Extras
  title: Misc
  order: 3
---

{%- import 'components/heading.njk' as heading %}

{%- macro download(label='',file='',img='') %}
  <div class="text-center">
    <a href="{{ file }}" class="group inline-flex relative hover:(motion-safe:animate-waggle)" download title="Download {{ label }}" aria-label="Download {{ label }}">
      <div>
        <img src="{{ img }}" alt="{{ label }} artwork" class="relative z-[-1] rounded shadow-md ring-(1 black/75)">
        <div class="p-4 w-16 bg-pri-900 text-(white 3xl) flex items-center justify-center absolute z-10 left-0 inset-y-0 motion-safe:(transition-all) group-hover:(w-full bg-opacity-50)">
          <iconify-icon icon="mdi:package-down" class="text-yellow-400"></iconify-icon>
        </div>
      </div>
    </a>
  </div>
{%- endmacro %}

<ul class="mb-6 grid-(& cols-1) gap-5 md:(grid-cols-3)">
  {%- for item in collections.extras %}
  <li>
    <h2>
      <span class="text-lg">{{ item.data.title }}</span>
    </h2>
    <p class="-mt-5 mb-5 pl-7 text-xs">{{ item.data.sub }}</p>
    {{ download(label=item.data.title,file=item.data.file,img=item.data.img) }}
  </li>
  {%- endfor %}
</ul>

{%- for item in collections.extras %}
{%- if loop.last %}
{{ item.templateContent | safe }}
{%- endif %}
{%- endfor %}