---
layout: 'layouts/default.njk'
title: Extras
eleventyNavigation:
  key: Extras
  title: Misc
  order: 3
---

{%- import 'components/heading.njk' as heading %}

{%- macro download(label='',file='',img='') %}
<a href="{{ file }}" class="group block relative hover:(motion-safe:animate-waggle)" download>
  <figure>
    <img src="{{ img }}?v={% version %}" alt="{{ label }} Image" class="relative z-[-1] rounded shadow-md ring(1 black opacity-75)">
    <figcaption class="p-4 w-16 bg-pri-900 text(white 3xl) flex items-center justify-center absolute z-10 left-0 inset-y-0 motion-safe:(transition-all) group-hover:(w-full bg-opacity-50)">
      <i class="fal fa-arrow-to-bottom text-yellow-400" title="Download {{ label }}"> </i>
    </figcaption>
  </figure>
</a>
{%- endmacro %}

<h2>Goodies</h2>

<ul class="mb-0">
  {%- for item in collections.extras %}
  <li class="pb-8 lg:(flex space-x-12)">
    <div class="flex-1">
      {%- call heading.x(tag='h3',sub=item.data.sub,img='/_assets/img/encyclopedias/en-tome.png') %}
        {{ item.data.title }}
      {%- endcall %}
    </div>
    <div class="flex-none">
      {{ download(label=item.data.title,file=item.data.file,img=item.data.img) }}
    </div>
  </li>
  {%- endfor %}
</ul>

{%- for item in collections.extras %}
{%- if loop.last %}
{{ item.templateContent | safe }}
{%- endif %}
{%- endfor %}