{{ content }}
{{ collection:recipes sort="order" }}
  <section class="pb-12 lg:grid lg:grid-flow-row lg:grid-cols-2 lg:gap-x-4">
    <div>
      {{ partial:_partials/heading
        tag="h2" 
        :subtext="subtext" 
        img="/assets/img/encyclopedias/en-armory.png" 
        border="yes" 
      }}
        {{ title }}
      {{ /partial:_partials/heading }}
    </div>
    <div class="prose">
      <h3>Info</h3>
      {{ bard }}
        {{ if type == "infos" }}
          <table>
            <tbody>
              {{ info }}
                <tr>
                  {{ cells }}
                    <t{{ if count == 1 }}h{{ else }}d{{ /if }}>
                      {{ value }}{{ if count == 1}}:{{ /if }}
                    </t{{ if count == 1 }}h{{ else }}d{{ /if }}>
                  {{ /cells }}
                </tr>
              {{ /info }}
            </tbody>
          </table>
        {{ elseif type == "ingredients" }}
          <h3>Ingredient <small class="ml-2 text-xs opacity-90">Order</small></h3>
          <ul>
            {{ ingredient }}
              <li class="mb-1 py-1 px-2 rounded{{ if count % 2 == 0 }} bg-pri-800 bg-opacity-10{{ /if }}">
                {{ value }}
              </li>
            {{ /ingredient }}
          </ul>
        {{ else }}
          {{ text }}
        {{ /if }}
      {{ /bard }}
    </div>
  </section>
  {{ if ! last }}<hr class="mb-16 invisible" />{{ /if }}
{{ /collection:recipes }}