---
layout: 'layouts/default.njk'
title: 'World History'
eleventyNavigation:
  key: 'World History'
  sub: '& Info'
  img: '/_assets/img/encyclopedias/en-tome.png'
  parent: Encyclopedias
  order: 8
---

{%- from 'components/timeline.njk' import timeline %}

<ul class="list-none">
  {%- for item in collections.world_history %}
  {%- call timeline(heading='h2',label=item.data.title,sub='History',index=loop) %}
  {{ item.templateContent | safe }}
  {%- endcall %}
  {%- endfor %}
</ul>
