{{# 
  {{ partial:_partials/heading
    tag="div" 
    subtext="Blah" 
    link="#" 
    img="/assets/img/encyclopedias/en-info.png" 
    border="yes" 
  }}
    Heading
  {{ /partial:_partials/heading }}
#}}

<{{ tag ?? 'h2' }} class="
  mb-5 pb-5 text-black text-opacity-90 font-bold
  {{ if tag == 'h1' }}
    md:text-3xl
  {{ elseif tag == 'h2' }}
    md:text-2xl
  {{ elseif tag == 'h3' }}
    md:text-xl
  {{ elseif tag == 'h4' }}
    md:text-lg
  {{ elseif tag == 'h5' }}
    text-base
  {{ elseif tag == 'h6' }}
    text-sm
  {{ else }}
    md:text-xl
  {{ /if}}
  {{ if border }} border(b black opacity-10) {{ /if }}
">
  {{ if link }}<a href="{{ link }}" class="group text-black text-opacity-90 hover:text-opacity-50 focus:text-opacity-50 motion-safe:transition">{{ /if }}
    <span class="align-middle inline-flex items-center uppercase tracking-tight">
      {{ if img }}
      <b class="mr-3 w-50 h-50 bg-black flex overflow-hidden rounded group-hover:motion-safe:animate-wiggle group-focus:motion-safe:animate-wiggle">
        <img src="{{ img }}" alt="{{ slot }} {{ subtext }}" class="m-auto">
      </b>
      {{ /if }}
      <span class="inline-flex flex-col">{{ slot }}{{ if subtext }}<small class="opacity-80 text-xs">{{ subtext }}</small>{{ /if }}</span>
    </span>
  {{ if link }}</a>{{ /if }}
</{{ tag ?? 'h2' }}>